body{
    margin: 2pc;
    background-color: crimson;
    color: white;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    text-align: center;

    font-size: 1.5pc;
}

h1{
    font-size: 3pc;
    margin-bottom: 2pc;
}

h2{
    font-size: 2.5pc;
}

div{
    margin-top: 2.5pc;
    margin-bottom: 2pc;
}


.conteneur-horloge{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    
}

#horloge{
    width: 280px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    border: 7px solid white;
    border-radius: 50%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 3pc;
}

button{
    margin-top: 1pc;
}

i{
    font-size: 3pc;
}